h1 {
  text-align: center;
  color: #6FB305;
  font-weight: normal;
  padding-bottom: 10px;
}

form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input {
    zoom: 1;
    margin: 0 25% 20px 25%;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    color: #666;
    height: 22px;
    line-height: 22px;
    float: left;
    padding: 6px 10px;
    vertical-align: middle;
}

p {
  text-align: center;
  color: red;
}

button {
  margin: 0 25% 20px 25%;
  user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 8px 15px;
    background-color: #557b97;
    color: #fff;
    font-family: "Work Sans","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    white-space: normal;
    font-size: 14px;
}
