<div id="sign-up">
  <h1>Create Account</h1>
  <p>{{authService.signUpMessage}}</p>
  <form (submit)="onSignUp(username.value, email.value, password.value, confirmation.value,
                          first_name.value, last_name.value, address1.value, city.value, phone.value, zip.value)">
  <input required type="text" name="username" placeholder="Username" #username/>
  <input required type="text" name="email" placeholder="E-mail" #email/>
  <input required type="password" name="password" placeholder="Password" #password/>
  <input required type="password" name="password2" placeholder="Rerequired type password" #confirmation/>
  <input required type="text" placeholder="First Name" #first_name/>
  <input required type="text" placeholder="Last Name" #last_name/>
  <input required type="text" placeholder="Address" #address1/>
  <input required type="text" placeholder="City" #city/>
  <input required type="text" placeholder="Phone" #phone/>
  <input required type="text" placeholder="Zip" #zip/>
  <button type='submit'>Create</button>
  </form>
</div>
